* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

nav {
	display: flex;
	justify-content: space-between;
	background-color: rgb(176, 221, 255);
	padding: 1.5rem;
	font-size: 1.5rem;
}

main {
	max-width: 1000px;
	margin: 2rem auto auto auto;
}

nav div {
	display: flex;
	gap: 2rem;
}

.login {
	max-width: 450px;
	padding: 1rem;
	align-items: center;
	margin: auto;
}

.login h1 {
	text-align: center;
	margin-bottom: 2rem;
}

.input-group {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 100%;
}

.input-group input {
	padding: 0.5rem;
}

.login form {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

button {
	padding: 0.5rem 1rem;
	font-family: inherit;
	font-size: 1.1rem;
	cursor: pointer;
	width: 100px;
	background-color: rgb(116, 95, 252);
	border: none;
	color: white;
	border-radius: 6px;
}

.users {
	display: flex;
	gap: 5rem;
}

.users__actions div {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.users__actions {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.users__actions input {
	padding: 0.5rem;
}

.users__list {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.user {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	align-items: center;
	justify-content: center;
	margin-top: 2rem;
}

.user img {
	max-width: 150px;
	border-radius: 100%;
}
